extends template
block variables
    - var title = 'Список японских машин'
    - var backpict = "img/back.jpg"
    - var CarsJapan =[{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Supra', 'power': '544', 'year': '1998', 'kuzov': 'Купе'},{'marka':'Toyota', 'name': 'Mark II', 'power': '220', 'year': '1986', 'kuzov': 'Седан'},{'marka': 'Honda', 'name': 'Accord', 'power': '160', 'year': '1980', 'kuzov':'Седан'},{'marka': 'Mitsubisi', 'name': 'Lancer Evolution VIII', 'power': '280', 'year': '2003', 'kuzov': 'Седан'},{'marka': 'Subaru', 'name': 'Legacy', 'power': '149', 'year': '1992', 'kuzov':'Седан'},{'marka': 'Infinity', 'name': 'QX56', 'power': '313', 'year': '2005', 'kuzov':'Внедорожник'},{'marka': 'Mazda', 'name': 'RX-7', 'power': '300', 'year': '1992', 'kuzov':'Купе'},{'marka': 'Nissan', 'name': 'Skyline', 'power': '400', 'year': '1990', 'kuzov':'Седан'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'},{'marka': 'Toyota', 'name': 'Surf', 'power': '183', 'year': '1986', 'kuzov':'Кроссовер'}]
    - var headers = ['Марка', 'Название', 'Мощность двигателя(японские пони)', 'Год выпуска', 'Тип кузова']
block content
    p
        details
            summary Фильтр
            form
                p
                    label Марка: 
                        input.input(type="text")
                        br
                p
                    label Название: 
                        input.input(type="text")
                        br
                p
                    label Мощность двигателя: 
                        | от
                        input.input(type="number" min="1" max="1500" )
                        | до 
                        input.input(type="number" min="1" max="1500")
                        br
                p
                    label Год выпуска: 
                        | от
                        input.input(type="Date")
                        | до 
                        input.input(type="Date")
                        br
                p
                    label Тип кузова: 
                        input.input(type="text")
                        br
            
                p
                    input.btn(type="button" value="Найти")
                    input.btn(type="reset" value="Сбросить фильтр")
    p
        details
            summary Сортировка
            form
                p Первый уровень:
                    select
                        each header in headers 
                            option= header
                    select
                        option По возрастанию
                        option По убыванию
                p Второй уровень:
                    select
                        each header in headers 
                            option= header
                    select
                        option По возрастанию
                        option По убыванию

                p Третий уровень:
                    select
                        each header in headers 
                            option= header
                    select
                        option По возрастанию
                        option По убыванию
                p
                    input.btn(type="button" value="Сортировать")
                    input.btn(type="reset" value="Сбросить настройки")
    p 
        details
            summary График
            form
                p 
                    | Значение по оси OX:
                    br
                    label 
                        input.input(type="radio", name="graph",value="power")
                        | Мощность 
                    br
                    label
                        input.input(type="radio", name="graph",value="attacktype")
                        | Год выпуска
                    br
                    label 
                        input.input(type="radio", name="graph",value="attackdelay")
                        | Марка 
                    br
                p Результат:
                    br
                    label
                        input.input(type="checkbox", name="graph", value="minhp")
                        | Средний год
                    br
                    label  
                        input.input(type="checkbox", name="graph", value="avghp")
                        | Максимальная мощность
                        br
                    label 
                        input.input(type="checkbox", name="graph", value="maxhp") 
                        | Минимальная мощность
                        br
                    label 
                        input.input(type="checkbox", name="graph", value="heroesamount") 
                        | Количество марок
                        br
                    label 
                        input.input(type="checkbox", name="graph", value="minmana") 
                        | Количество кузовов
                        br
                br
                p
                    input(type="button" value="Построить")
                    input(type="reset" value="Сбросить настройки")
    table.table(border="2")
        tr
            each header in headers 
                th= header
        each item in CarsJapan
            tr
                td #{item.marka}
                td #{item.name}
                td #{item.power}
                td #{item.year}
                td #{item.kuzov}
